
body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(0.15turn, #b8ff46, #ebf8e1, #01c4ff) no-repeat;
    overflow: hidden;
}
h1{
    text-align: center;
   font-family: "Vivaldi";
}
img{
    border-radius: 15px;
    margin: 15px;

}
cube{

    width: 2%;
    height: 2%;
    position: absolute;
    background-color: aqua;
    top: 0;
    left: 0;
    border-radius: 50%;
    animation: salvapantallas 10s linear infinite;
}

@keyframes salvapantallas {
    0%{
        top: 0%;
        left: 0%;
    }
    25%{
        top: 100%;
        left: 50%;
    }
    50%{
        top: 0%;
        left: 100%;
    }
    75%{
        top: 100%;
        left: 50%;
    }
    100%{
        top: 0%;
        left: 0%;
    }
}

div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@font-face {
   font-family: Vivaldi;
   font-style: normal;
   font-weight: normal;
   src: url(VIVALDI0.eot);
}