
body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(0.15turn, #b8ff46, #ebf8e1, #01c4ff) no-repeat;
    overflow: hidden;
}
h1{
    text-align: center;
   font-family: "Vivaldi";
}
img{
    border-radius: 15px;
    margin: 15px;

}

div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@font-face {
   font-family: Vivaldi;
   font-style: normal;
   font-weight: normal;
   src: url(VIVALDI0.eot);
}